ipykernel==6.29.2
ipython==8.22.1
jsonpatch==1.33
jsonpointer==2.4
jupyter_client==8.6.0
jupyter_core==5.7.1
langchain==0.0.351
langchain-community
langchain-core
langchain-experimental==0.0.41
langchain-openai
langsmith
matplotlib==3.8.3
matplotlib-inline==0.1.6
multidict==6.0.5
networkx==3.2.1
numpy==1.26.4
openai
packaging==23.2
pandas==2.2.1
pickleshare==0.7.5
pillow==10.2.0
prompt-toolkit==3.0.42
ptyprocess==0.7.0
pydantic==2.6.2
pydantic_core==2.16.3
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
regex==2023.12.25
requests==2.31.0
zipp==3.17.0
bs4
